/* ヘッダー、投稿ボタン*/
.touroku_btn {
  margin: 0 10px;
}

/* 大枠*/
.author-section {
  height: 80vh;
}

.author-section-two {
  margin: auto;
  display: flex;
  justify-content: center;
}

/* 事業者名*/
.author-info {
  display: flex;
  justify-content: center;
}

.author-name {
  font-family: 'Noto Serif JP', serif;
  font-size: 30px;
}

/*施設一覧大枠 */
.facility-details-section {
  width: 70vw;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.facility-info {
  height: 70%;
}

.facility-description {
  border-bottom: 1px solid gainsboro; 
  margin: 0 10px;
}

