/*ヘッダーのCSS*/
.top_header {
  background-color: #F5F5F5;
  padding-bottom: 1vh;
}

.sub_header {
  border-bottom: 1px solid black;
}

.search-bar-contents{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  margin-right: 3vw;
}


/*.apuri_mei {
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Noto Serif JP', serif;
}*/





/*メインのCSS*/
/* スタイルのリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* フォームのスタイル */
.registration-main {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header-sub {
  display: flex;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.error-alert {
  margin: 10px;
}

/* フォーム内の各セクションのスタイル */
.form-wrap {
  /* ここに適切なスタイルを追加 */
}

/* フォームのヘッダーのスタイル */
.form-header-top {
  text-align: center;
  display: flex;
  justify-content: center;
}

.form-header {
  
  color: black;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  margin-bottom: 10px;
  width: 30vw;
  box-shadow: 0 0 8px gray;
  background-color: #F5F5F5;
}

.form-header-text {
  font-size: 25px;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Noto Serif JP', serif; 
}

.form-header-sub-text {
  font-weight: lighter; 
  
}

/* 必須項目のスタイル */
.indispensable {
  color: #ff0000;
  font-size: 1.5em;
  margin-bottom: 0;
}

/* フォームグループのスタイル */
.form-group {
  margin-bottom: 20px;
}

/* フォームラベルのスタイル */
.form-text-wrap {
  display: flex;
  align-items: center;
}

.form-text {
  margin-right: 10px;
  font-family: Arial, sans-serif;
  font-size: 14x;
}

/* 入力フィールドのスタイル */
.input-default {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0;
}

/* テキストエリアのスタイル */
.input-name {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  resize: none;
}

/* エラーメッセージのスタイル（エラーがある場合のみ表示） */
.error-message {
  color: #ff0000;
  margin-top: 5px;
}

/* 送信ボタンのスタイル */
.register-btn-top {
  display: flex;
  justify-content: center;
}

.register-btn {
  text-align: center;
  margin-top: 20px;
  width: 70%;
}

.register-red-btn {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*.register-red-btn:hover {
  background-color: #55FFFF;
}*/


.info-text-sub {
  display: flex;
  margin-top: 10px;
}

.info-text {
  margin-right: 6px;
}

