<footer class="footer">
    <div class="footer__bar row">
      <%# if user_signed_in? %>
        <div class="user_nav grid-6">
            <ul class="user__info">
              <li>
                <%= link_to "マイページ" %>
                <%= link_to "ログアウト" %>
              </li>
            </ul>
        </div>
      <% #else %>
        <div class="grid-6">
          <%= link_to "ログイン",class: "post" %>
          <%= link_to "新規登録", class: "post" %>
        </div>
      <% #end %>
    </div>
</footer>