
/*トップページのヘッダー */
.top_header {
  background-color: #F5F5F5;
  padding-bottom: 1vh;
  
}

.sub_header {
  border-bottom: 1px solid black;
  
}

.search-bar-contents{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  margin-right: 3vw;

  
}


.apuri_mei {
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Noto Serif JP', serif;
}

.search-form {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  height: 100%;
  
}

.input-box {
  border: 1px solid #AAAAAA;
  border-radius: 2px;
  height: 5vh;
  padding: 3px 3px;
  margin-right: 7px;
}


.search-button {
  border: none;
  background-color: #444444;
  border-radius: 2px;
}

.search-icon {
  margin: 5px 2px 2px 2px;
  height: 20px;
  width: 20px;
}




/* トップページの温泉施設一覧*/
.spa-contents {
  text-align: center;
  width: 100vw;
  height: calc(100vh - 15vh);
  overflow: scroll;
}

.title {
  font-family: 'Noto Serif JP', serif;
  
}

.spa-lists {
  list-style-type: none;
  padding: 0;
}

.list {
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.spa-img-content {
  margin-bottom: 10px;
}

.spa-img {
  width: 200px;
  height: auto;
  border-radius: 5px;
}

.spa-name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}


















/*トップページのフッダー*/
.footer {
  
  border-top: 1px solid black;
  padding: 20px;
  text-align: center;
  height: 15vh;
  
}

.footer_bar {
  display: flex;
  justify-content: space-between;
}

.user_nav,
.grid-6 {
  display: flex;
  align-items: center;
  
}

.my_page,
.rogu_outo,
.rogu_in,
.sinnki {
  margin: 0 10px;
}

.waku a {
  text-decoration: none;
  color: black;
}


.waku {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 3px;
}



