

/*トップページのヘッダー */
.top_header {
  background-color: #F5F5F5;
  padding-bottom: 1vh;
  
}

.sub_header {
  border-bottom: 1px solid black;
  
}


.apuri_mei {
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Noto Serif JP', serif;
  font-size: 45px;
  color: black;
}


.apuri_mei_waku {
  margin-left: 5vw;
}


.search-bar-contents-top{
  display: flex;
  align-items: center;
  margin-left: 5vw;
}

.search-bar-contents{
  margin-left: 1px;
}

.search-bar-contents a {
 text-decoration: none;
}


.search-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: none;
  border-radius: 5px;
  height: 100%;
  
}

.input-box {
  border: 1px solid #AAAAAA;
  border-radius: 2px;
  height: 5vh;
  padding: 3px 3px;
  margin-right: 7px;
  display: block;
}


.search-button {
  border: none;
  background-color: #444444;
  border-radius: 2px;
  margin-bottom: 9px;
}

.search-icon {
  margin: 5px 2px 2px 2px;
  height: 20px;
  width: 20px;
}

/* トップページの温泉施設一覧*/
.spa-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
}

.title {
  font-family: 'Noto Serif JP', serif;
  font-size: 30px;
  margin: 30px 0;
}



.spa-lists {
  width: 60vw;
  display: flex;
  flex-wrap: wrap; 
}




.content_post {
  position: absolute;
  position: relative;
  margin-bottom: 30px;
  
}

.edit_mark {
  display: inline-flex;
}

.more {
  
  width: 60vw;
  height: 60vh;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);

}

.spa-img {
  width: 100%;
  height: 100%;
  position: absolute;
  
}

.more_list {
  position: absolute;
  text-align: left;
  width: 80px;
  right: 0;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: none;  /*要修正！！！*/
  
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  
  list-style: none;
}

.more_list li {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.more_list li:last-child {
  border-bottom: 0;
}


.more_list li a {
  display: block;
  
  text-align: center;
  text-decoration: none;
  color: black;
}

.more ul.more_list li a:hover {
  background-color: #57C3E9;
  color: #fff;
}


.spa_name {
  position: absolute;
  right: 50px;
  bottom: 20px;
  font-size: 30px;
  color: #fff; /* テキストの色 */
  text-shadow: 2px 2px 4px #000; 
  font-family: 'Noto Serif JP', serif;
}


