form {
  display: flex;
  flex-direction: column;
}



.containers {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  width: 80vw;
  position: absolute;
  height: auto; /* 高さを自動調節 */
  position: relative; /* 相対的な位置指定 */
  text-align: center;
  
}


.form .contents {
  position: absolute;
  left: 0;
  top: 30%;
  bottom: 0;
  right: 0;
}



form input ,
form textarea,
.click-upload {
  width: 100%;
  height: 5vh;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
  color: #777777;
}

.click-upload {
  text-align: left;
}

form textarea {
 height: 10vh;
 resize: vertical;
 max-height: calc(3em * );
  /* 垂直方向のみリサイズ可能にする */
}

input[type="file"] {
 border: none;
 margin-left: -20px;
}


form input[type="submit"] {
  border-radius: 20px;
  color: black;
  border: 1px solid #CCCCCC;
  font-size: 18px;
  margin: auto;
  width: 20vw;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form input:focus, form textarea:focus, form .click-upload:focus {
  outline: none;
}



