form {
  display: flex;
  flex-direction: column; 
}

.title_content_form {
  font-family: 'Noto Serif JP', serif;
  padding-bottom: 30px;
}

.contents_rows {
 margin: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.containers {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  width: 80vw;
  height: auto;  
  position: relative; 
  text-align: center;
}


.form .contents {
  
  left: 0;
  top: 30%;
  bottom: 0;
  right: 0;
}



form input ,
form textarea,
.click-upload {
  width: 100%;
  height: 5vh;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
  color: #777777; 
}

.click-upload {
  text-align: left;
}

form textarea {
 height: 10vh;
 resize: vertical;
 max-height: calc(3em * );
}

input[type="file"] {
 border: none;
 margin-left: -20px;
 margin-top: 5px ;
}

.info_text_waku {
  margin-top: 25px;
}


.info_text_content {
  margin-top: 20px;
  text-align: left;
  color: red;
  
}

.custom-submit-button {
  border-radius: 20px;
  color: black;
  border: 1px solid #CCCCCC;
  font-size: 18px;
  margin:auto;
  margin-top: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form input:focus, form textarea:focus, form .click-upload:focus {
  outline: none;
}

.error_message_list {
  list-style: none;
  text-align: left;
}

.edit_submit_button {
  margin: auto;
}
